<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore role:require="Standalone or ContentManagement" security:require="Sitecore">
    <commands>
      <command name="usermanager:recycle" type="SitecoreExtension.RestoreDeletedUsers.Commands.RecycleUserCommand, SitecoreExtension.RestoreDeletedUsers"/>
      <command name="usermanager:restore" type="SitecoreExtension.RestoreDeletedUsers.Commands.RestoreUsersCommand, SitecoreExtension.RestoreDeletedUsers"/>
      <command name="usermanager:customdelete" type="SitecoreExtension.RestoreDeletedUsers.Commands.CustomDelete, SitecoreExtension.RestoreDeletedUsers"/>
      <command name="shell:deletedusers" type="SitecoreExtension.RestoreDeletedUsers.Commands.DeletedUsersCommand, SitecoreExtension.RestoreDeletedUsers"/>
    </commands>

    <powershell>
      <commandlets>
        <add Name="Restore User" type="SitecoreExtension.RestoreDeletedUsers.Commands.RestoreUserWithSpe, SitecoreExtension.RestoreDeletedUsers" />
      </commandlets>
    </powershell>
    <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
      <rules>
        <rule name="shell">
          <urlPrefix>/sitecore/shell</urlPrefix>
          <ignore contains="Override/Applications/Security/UserManager"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>